body {
  color: #5a5a5a;
}

.btn {
  border-radius: 20px;
}

.fas {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#section-hero {
  color: white;
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* url("images/variety-of-vegetables-1458694-crop.jpg"); */
      url("images/radish-and-carrots-1656663-crop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 200px;
  /*  */
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section-what {
  padding: 6em 0;
}

#section-started {
  /* background-color: #eee; */
  padding: 6em 0;
}

/* Featurettes ------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}
