body {
  color: #5a5a5a;
}

.btn {
  border-radius: 25px;
}

.fas {
  font-size: 3em;
  margin-bottom: 0.5em;
}

/* Color the icons and headings in the What We Do section */
.fas,
#section-what h4,
#section-what h2 {
  /* color: #587229; Dark Olive */
  /* Peru */
  /* color: #d38b58;  */
  /* Success */
  /* color: #28a745; */
  /* Sienna (brown) */
  /* color: #88603e; */
  color: #444;
}

#section-hero {
  color: white;
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* url("images/variety-of-vegetables-1458694-crop.jpg"); */
      url("images/radish-and-carrots-1656663-crop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 200px;
  /*  */
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-weight: 400;
  letter-spacing: -0.05rem;
}

#section-what {
  padding: 6em 0;
}

#section-started {
  /* background-color: #e9ecef; */
  background-color: #f5f5f5;
  padding: 8em 0;
}

/* responsively size the video when width < 560 */
@media (max-width: 560px) {
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    /* keep the video from going over top of the header */
    z-index: 0;
  }

  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

/* Featurettes ------------------------- */

#section-featurettes {
  /* padding: 8em 0; */
  padding-top: 8em;
  padding-bottom: 8em;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

#section-join {
  padding-top: 8em;
  padding-bottom: 8em;
}
